/* Import Font */
@import url('https://fonts.googleapis.com/css?family=Open+Sans');

/* Page reset with universal selector */

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    font-family: 'Open Sans', sans-serif;
    height: 100vh;
}

.slider-container {
    position: relative; /* everything inside is absolute */
    overflow: hidden; /* no scrollbars */
    width: 100vw; /* whole width */
    height: 100vh; /* whole height */
}

.left-slide {
    height: 100%;
    width: 35%; /* 35% of container */
    position: absolute; /* overlap container*/
    top: 0; left: 0; /* Align element to the top-left corner of its container. */
}

/* Style immediate .left-slide divs */
.left-slide > div {

    height: 100%; /* Take entire height  */
    width: 100%;
    display: flex; flex-direction: column; /* Align Y */
    align-items: center; /* Center X */
    justify-content: center; /* Center Y */
    color: #fff;

    /*  Selector Breakdown .left-slide > div

        .left-slide:
            Targets any element with the class left-slide.

        > (Direct Child Combinator):
            The > symbol indicates that the rule applies only to elements that are direct children of the .left-slide element.

            It does not apply to nested or descendant elements deeper in the DOM hierarchy.

        div:
            Specifies that only <div> elements are targeted. */
}


.left-slide h1{

    font-size: 40px;
    margin-bottom: 10px;
    margin-top: -30px;  
    
}

.right-slide{

    height: 100%;
    position: absolute; /* Overlap container */
    top: 0; /* Align to top */
    left: 35%; /* Start after left-slide */
    width: 65%; /* 100% - 35% */

}

/* Style direct divs */
.right-slide > div {
    /* background image is set inside divs */
    background-repeat: no-repeat;
    background-size: cover; /* Show whole image */
    background-position: center center; /* X & Y */
    height: 100%;
    width: 100%;

}


