/* Import Font */
@import url('https://fonts.googleapis.com/css?family=Open+Sans');

/* Page reset with universal selector */

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    font-family: 'Open Sans', sans-serif;
    height: 100vh;
}

.slider-container {
    position: relative; /* everything inside is absolute */
    overflow: hidden; /* no scrollbars */
    width: 100vw; /* whole width */
    height: 100vh; /* whole height */
}

.left-slide {
    height: 100%;
    width: 35%; /* 35% of container */
    position: absolute; /* overlap container*/
    top: 0; left: 0; /* Align element to the top-left corner of its container. */
    transition: transform 0.5s ease-in-out;
}

/* Style immediate .left-slide divs */
.left-slide > div {

    height: 100%; /* Take entire height  */
    width: 100%;
    display: flex; flex-direction: column; /* Align Y */
    align-items: center; /* Center X */
    justify-content: center; /* Center Y */
    color: #fff;

    /* Only first div is displayed since they're overlapping each other */

    /*  Selector Breakdown .left-slide > div

        .left-slide:
            Targets any element with the class left-slide.

        > (Direct Child Combinator):
            The > symbol indicates that the rule applies only to elements that are direct children of the .left-slide element.

            It does not apply to nested or descendant elements deeper in the DOM hierarchy.

        div:
            Specifies that only <div> elements are targeted. */
}


.left-slide h1{

    font-size: 40px;
    margin-bottom: 10px;
    margin-top: -30px;  
    
}

.right-slide{

    height: 100%;
    position: absolute; /* Overlap container */
    top: 0; /* Align to top */
    left: 35%; /* Start after left-slide */
    width: 65%; /* 100% - 35% */
    transition: transform 0.5s ease-in-out;
}

/* Style direct divs */
.right-slide > div {
    /* background image is set inside divs */
    background-repeat: no-repeat;
    background-size: cover; /* Show whole image */
    background-position: center center; /* X & Y */
    height: 100%;
    width: 100%;

}


/* General button style */
button{

    background-color: #fff;
    border: none;
    color: #aaa;
    font-size: 16px;
    padding: 15px;

}


button:hover {

    color: #222;

}

button:focus{

    outline: none;

}


/* Style up & down buttons */
.slider-container .action-buttons button {

    position: absolute; /* Overlap container */
    left: 35%; /* Push to right */
    top: 50%; /* Push downwards */
    z-index: 100; /* Bring to front */

}


/* Style overlapping .down-button & .up-button  */

.slider-container .action-buttons .down-button{

    /* Move down button to left */
    transform: translateX(-100%); 

    /* Add rounded corners */
    border-top-left-radius: 5px;
    border-bottom-left-radius: 5px;

}

.slider-container .action-buttons .up-button{

    /* Move up button to up */
    transform: translateY(-100%); 

     /* Add rounded corners */
     border-top-right-radius: 5px;
     border-bottom-right-radius: 5px;

}
